.home-container {
  background: url("https://images.unsplash.com/photo-1534996858221-380b92700493?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1331&q=80");
  
  height:100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  }

.start-button {
  background: #fff;
  border-radius: 30px;
  color: #0043F3;
  width: 200px;
  font-weight: bold;
  border: none;
}

.home-container label h2{
  color:#fff;
  
}

.home-container .area-inicial {
  padding-top: 40vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}


